#bordered {
  color: #457371;
}
.caretDown {
  transform: rotate(180deg);
}
.headerRow {
  text-align: center;
}
.hover {
  color: black;
}
.rowStyle tr:nth-child(even) {
  background-color: #99cdc9;
}
.rowStyle tr:nth-child(odd) {
  background-color: white;
}
.rowStyle {
  text-align: center;
}
.sortButton {
  border: solid;
  border-radius: 22px;
  border-color: white;
  border-width: 1px;
  width: fit-content;
  padding-right: 4px;
  padding-left: 4px;
}
.sortText {
  font-size: 10px;
}
.sortContainer {
  align-items: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.tableContainer {
  justify-content: center;
  align-items: center;
}
.tableHeader {
  background-color: #457371;
  color: white;
}