.app-wrapper {
  padding-top: 20px;
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
}

.app-tab-wrapper {
  margin-left: 2.7rem;
  margin-right: 2.7rem;
}

.app-button-wrapper .active {
  color: white;
  font-weight: bold;
  /* box-shadow: inset 0px 0px 5px #c1c1c1; */
}

.app-button-wrapper {
  width: auto;
  max-width: 80%;
  margin: auto;
  height: 1.5rem;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(90px, 0.19fr));
  grid-template-rows: 100%;
  margin-bottom: 20px;
}

.map-container {
  height: 600px;
  width: 600px;
}
